<div class="row">
    <div class="col-sm-4">
        <img class="card-image" src={{model.mtgImage}}>
    </div>

    <div class="col-sm-6">
        <h2>{{model.name}}</h2>

        <p class="card-text">
            {{break-lines model.text}}
        </p>
    </div>
</div>

