<h1>Hand {{hand.length}}</h1>
{{#each hand as |card|}}
    {{#draggable-object content=card classNames="card" dragEndAction="removeCard"}}
        <img src={{card.model.card.mtgImage}}>
    {{/draggable-object}}
{{/each}}
