<ul class="list-unstyled">
    {{#each collection as |deck|}}
        <li>
            {{#if editing}}
                <span class="edit-controls">
                    <i class="ion-plus clickable" {{action "addCard" deck.card deck.count}}></i>
                    <i class="ion-minus clickable" {{action "removeCard" deck.card deck.count}}></i>
                </span>
            {{/if}}

            {{deck-card-detail card=deck.card count=deck.count editing=editing}}
        </li>
    {{else}}
        None
    {{/each}}
</ul>
