<div class="row">
    <div class="{{if editMode 'hidden' 'col-sm-3'}} list-group">
        <div class="row add-deck">
            <div class="col-sm-12">
                {{#link-to "deck.create"}}
                    Create New Deck
                {{/link-to}}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {{#each model as |deck|}}
                    {{#link-to "deck.detail" deck.id classNames="list-group-item"}}
                        {{deck.title}}
                    {{/link-to}}
                {{/each}}
            </div>
        </div>
    </div>

    <div class="{{if editMode 'col-sm-12' 'col-sm-9'}}">
        {{outlet}}
    </div>
</div>
